.App {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-auto-rows: auto;
    grid-template-rows: 48px auto 32px;
}

header {
    grid-area: header;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

.content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-items: center;
}

footer {
    grid-area: footer;
    padding: 0 100px;
}
